<h1><%= @doctor.name %></h1>
<hr />
<br />
<%= link_to 'Appts', doctor_appts_path(@doctor), class: "ui primary button blue" %>
<br />
<br />
<br />
<%= link_to "Delete Appts", @doctor, method: :delete, class: "ui red button" %>
